h1 {
    background-color: lightblue;
    outline-color: black;
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
    padding: 10px;
}

body {
    background-color: lightblue;
}

p {
    background-color: white;
    padding: 20px 100px;
    font-size: 20px;
}

table {
    border: 3px solid black;
    border-collapse: collapse;
    width: 100%;
}

th {
    font-size: 20spx;
    background-color: lightskyblue;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    text-align: center;
}




@media (max-width: 600px) {
    body {
        width: 20px;
    }
}