a {
    color: black;
}

li {
    font-size: 13px;
    color:black;
    float: left;  
    opacity: 0.9;  
}

ul {
    font-size:  20px;
    color: black;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 2px blue;
}

h3 {
    text-align: center;
    color: whitesmoke;
}

body {
    background-image: url('coloradoRiver.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

p {
    background-color: lightblue;
    border: 1px solid blue;
    opacity: 0.9;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

table {
    border: 2px solid seagreen;
    border-collapse: collapse;
    width: 100%;
    opacity: 0.9;
}


th {
    font-size: 20spx;
    background-color: lightseagreen;
    border: 1px solid black;
    text-align: center;
}

td {
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
}

img {
    max-width: 20%;
    height: auto;
    float: center;
    padding: 5px;
    border-radius: 15px;
}

footer {
    text-align: right;
    font-weight: 800;
    color: black;
}

.box {
    padding: 5px;
    font-weight: 400;
    width: 100%;
    height: auto;
    padding: 10px;
    color: black;
  }
  
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 @media (max-width: 480px) {
     .navbar-nav {
         position: absolute;
     }
     .box {
        width: 100%,
     }
 }


 /* ------------------------------------------------------------- */
