

h1 {
    text-align: center;
}

body {
   background-image: url(https://live.staticflickr.com/3669/12866557143_2854c164f2_b.jpg);
   background-size: 100% auto;
   background-repeat: no-repeat;
   background-attachment: scroll;
}

p {
    background-color: lightblue;
    opacity: 0.8;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

table {
    border: 3px solid black;
    border-collapse: collapse;
    width: 100%;
}


th {
    font-size: 20spx;
    background-color: lightseagreen;
    border: 1px solid black;
}

td {
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
}

img {
    max-width: 25%;
    height: auto;
    float: left;
    padding: 5px;
    border-radius: 15px;
}

footer {
    text-align: right;
    font-weight: 800;
    color: black;
}

.box {
    padding: 5px;
    font-weight: 400;
    width: 100%;
    height: auto;
    padding: 10px;
    color: black;
  }
  